@{
    ViewData["Title"] = "Appliance Marketing";
}

<div class="mobile-content">
    <table class="mobile-monitor">
        <tr>
            <td>
                <img id="imgStatus" src="/images/normal-appliance.png" data-normal="/images/normal-appliance.png" data-promo="/images/promo-appliance.png" alt="Dish Washer" />
            </td>
        </tr>
        <tr>
            <td class="mobile-monitor-action">
                <p style="margin-top:15%;">
                    <label id="lblDistance"></label>
                    <input type="hidden" id="distance" value="0">
                </p>
                <div id="slider-range-min" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                    <div class="ui-slider-range ui-corner-all ui-widget-header ui-slider-range-min" style="width: 5.15021%;">
                    </div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 5.15021%;"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="lblMessage">&nbsp;</div>
                <input id="btnSend" type="button" value="Start Sending Data" class="btn-custom" />
            </td>
        </tr>
    </table>
</div>

@section Scripts{
    <script type="text/javascript">
        var urlAction = '/Appliance/SendData';
        var isSentData = false, httpRequestLimit = 30, httpRequestCount = 0;
        var startProcess, btnText, btnBgColor;

        $(function () {
            $('#spinner').hide();
            $('#lblMessage').addClass('default-status-message').html('&nbsp;');
            $("#slider-range-min").slider({
                range: "min",
                value: 75,
                min: 0,
                max: 100,
                slide: function (event, ui) {
                    var distance = (100 - (ui ? ui.value : 75));
                    $("#lblDistance").text('Proximity to iBeacon: ' + distance + ' ft');
                    $("#distance").val(distance);
                    $("#imgStatus").attr('src', function () {
                        if (distance > 25) {
                            return $(this).attr('data-promo');
                        }
                        else {
                            return $(this).attr('data-normal');
                        }
                    });
                }
            });
            $slider = $('#slider-range-min');
            if ($slider) {
                $slider.slider('option', 'slide').call($slider);
            }

            $('#btnSend').on('click', function (e) {
                isSentData = !isSentData;
                btnText = btnBgColor = undefined;
                httpRequestCount = 0;

                if (isSentData && startProcess == undefined) {
                    $('#lblMessage').css({ 'background-color': '' }).html('&nbsp;');
                    startSendingData();
                    startProcess = setInterval(function () { startSendingData() }, 3000);
                }
                else {
                    stopSendingData();
                }
            });
        });

        function stopSendingData() {
            isSentData = false;
            httpRequestCount = 0;
            if (startProcess) {
                clearInterval(startProcess);
                startProcess = undefined;
            }
            if ($) {
                $('#btnSend').attr('value', 'Start Sending Data');
                $('#lblMessage').css({ 'background-color': '' }).html('&nbsp;');
                $('#spinner').hide();
            }
        }

        function startSendingData() {
            if (startProcess && isSentData)
                return;
            isSentData = true;
            httpRequestCount++;
            if (isSentData && $ && $("#distance").val().length > 0) {
                $('#btnSend').attr('value', (isSentData ? 'Stop Sending Data' : 'Start Sending Data'));
                var distanceVal = parseInt($("#distance").val());
                $('#spinner').hide();
                $.post(urlAction, { distance: distanceVal }, function (data) {
                    isSentData = false;
                    $('#spinner').hide();
                    if (data) {
                        console.log(data);
                        if (data.toLowerCase().indexOf("completed") != -1) {
                            btnBgColor = "green";
                            btnText = "Completed Successfully";
                            stopSendingData();
                        }
                    }
 
                    if (btnText && btnBgColor) {
                        $('#lblMessage').css({
                            'background-color': btnBgColor,
                        }).html(btnText);
                        return;
                    }
                    else {
                        $('#lblMessage').addClass('default-status-message').html('&nbsp;');
                    }

                    if (httpRequestCount == httpRequestLimit) {
                        stopSendingData();
                    }
                });
            }
        }
    </script>
}